@import "tailwindcss";

:root {
	--background: #1c1c1c;
	--foreground: #fafaff;
	--secondary-foreground: #ecebe4;
	--secondary-accent: #daddd8;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-secondary-fg: var(--secondary-foreground);
	--color-secondary-accent: var(--secondary-accent);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-robot: var(--font-roboto);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #291717;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-oswald);
}

p,
span {
	font-family: var(--font-roboto);
}
